In [ ]:
#pip install ipywidgets

In [2]:
import pandas as pd
import requests
import json
import pygsheets
import ipywidgets as widgets
from datetime import date, timedelta

In [3]:
today = date.today()
yeterday = date.today() - timedelta(days=1)

start_date=widgets.Text(
    value=yeterday.strftime("%Y-%m-%d"),
    placeholder='Type something',
    description='Start Date:',
    disabled=False
)
start_date

Text(value='2023-01-22', description='Start Date:', placeholder='Type something')

In [19]:
end_date=widgets.Text(
    value=today.strftime("%Y-%m-%d"),
    placeholder='Type something',
    description='end_date:',
    disabled=False
)
end_date

Text(value='2023-01-23', description='end_date:', placeholder='Type something')

In [5]:
#this is fixed for this GO apps codes: com.dreamgames.royalmatch, com.gamegos.mobile.manorcafe,com.matchington.mansion
#and for this countries: AE,CAO,CAR,CAT,CAU,CAZ,CBB,CBE,CBG,CBH,CBM,CBO,CBR,CBY,CCA,CCH,CCL,CCO,CCR,CCY,CCZ,CDE,CDK,CDO,CDZ,CEC,CEE,CEG,CES,CFI,CFR,CGB,CGE,CGH,CGR,CGT,CHK,CHR,CHU,CID,CIE,CIL,CIN,CIT,CJP,CKE,CKH,CKR,CKW,CKZ,CLB,CLK,CLT,CLU,CLV,CMG,CMO,CMT,CMX,CMY,CNG,CNI,CNL,CNO,CNZ,COM,CPA,CPE,CPH,CPK,CPL,CPT,CPY,CQA,CRO,CRS,CRU,CSA,CSE,CSG,CSI,CSK,CSV,CTH,CTN,CTR,CTW,CUA,CUS,CUY,CUZ,CVE,CVN,CZA

APP_ANDROID_INFO = 'https://api.sensortower.com/v1/android/sales_report_estimates?app_ids=com.dreamgames.royalmatch\
                    %2Ccom.gamegos.mobile.manorcafe%2Ccom.matchington.\
                    mansion&countries=AE%2CAO%2CAR%2CAT%2CAU%2CAZ%2CBB%2CBE%2CBG%2CBH%2CBM%2CBO%2CBR%2CBY%2CCA%2CCH%2CCL%2CCO%2CCR%2CCY%2CCZ%2CDE%2CDK%2CDO%2CDZ%2CEC%2CEE%2CEG%2CES%2CFI%2CFR%2CGB%2CGE%2CGH%2CGR%2CGT%2CHK%2CHR%2CHU%2CID%2CIE%2CIL%2CIN%2CIT%2CJP%2CKE%2CKH%2CKR%2CKW%2CKZ%2CLB%2CLK%2CLT%2CLU%2CLV%2CMG%2CMO%2CMT%2CMX%2CMY%2CNG%2CNI%2CNL%2CNO%2CNZ%2COM%2CPA%2CPE%2CPH%2CPK%2CPL%2CPT%2CPY%2CQA%2CRO%2CRS%2CRU%2CSA%2CSE%2CSG%2CSI%2CSK%2CSV%2CTH%2CTN%2CTR%2CTW%2CUA%2CUS%2CUY%2CUZ%2CVE%2CVN%2CZA&date\
                    _granularity=daily&start_date='+start_date.value+'&end_date='+end_date.value+'&auth_token=ST0_csRybKRh_Jpx4TNtK2yZ7ei'

In [6]:
#this is fixed for this iOS apps codes: 1195621598,1216575026,1228655110,1358742711,201482155847,201570403223
#and for this countries: AE,AO,AR,AT,AU,AZ,BB,BE,BG,BM,BO,BR,BY,CA,CH,CL,CN,CO,CR,CZ,DE,DK,DO,DZ,EC,EE,EG,ES,FI,FR,GB,GH,GR,GT,HK,HR,HU,ID,IE,IL,IN,IT,JP,KE,KH,KR,KW,KZ,LB,LK,LT,LU,LV,MG,MO,MX,MY,NG,NI,NL,NO,NZ,OM,PA,PE,PH,PK,PL,PT,PY,QA,RO,RU,SA,SE,SG,SI,SK,SV,TH,TN,TR,TW,UA,US,UY,UZ,VE,VN,ZA,BH,CY,GE,MT,RS,WW

APP_IOS_INFO ='https://api.sensortower.com/v1/ios/sales_report_estimates?app_ids=\
                1195621598%2C1216575026%2C1228655110%2C1358742711%2C%201482155847%2C%201570403223%2C&countries\
                =AE%2CAO%2CAR%2CAT%2CAU%2CAZ%2CBB%2CBE%2CBG%2CBM%2CBO%2CBR%2CBY%2CCA%2CCH%2CCL%2CCN%2CCO%2CCR%2CCZ%2CDE%2CDK%2CDO%2CDZ%2CEC%2CEE%2CEG%2CES%2CFI%2CFR%2CGB%2CGH%2CGR%2CGT%2CHK%2CHR%2CHU%2CID%2CIE%2CIL%2CIN%2CIT%2CJP%2CKE%2CKH%2CKR%2CKW%2CKZ%2CLB%2CLK%2CLT%2CLU%2CLV%2CMG%2CMO%2CMX%2CMY%2CNG%2CNI%2CNL%2CNO%2CNZ%2COM%2CPA%2CPE%2CPH%2CPK%2CPL%2CPT%2CPY%2CQA%2CRO%2CRU%2CSA%2CSE%2CSG%2CSI%2CSK%2CSV%2CTH%2CTN%2CTR%2CTW%2CUA%2CUS%2CUY%2CUZ%2CVE%2CVN%2CZA%2CBH%2CCY%2CGE%2CMT%2CRS%2CWW%2C&date\
                _granularity=daily&start_date='+start_date.value+'&end_date='+end_date.value+'&auth_token=ST0_csRybKRh_Jpx4TNtK2yZ7ei'

In [7]:
#request GO
response_API_go = requests.get(APP_ANDROID_INFO)

#request iOS
response_API_ios = requests.get(APP_IOS_INFO)

In [8]:
#test API connection (code 200 means connection is OK)
print(response_API_go.status_code)

200

In [9]:
#test API connection (code 200 means connection is OK)
print(response_API_ios.status_code)

200

In [10]:
go_data=response_API_go.json()

go_data_df=pd.DataFrame(go_data[0], index=[0])

In [11]:
for i in range(1,len(go_data)):
    df=pd.DataFrame(go_data[i], index=[0])
    go_data_df=go_data_df.append(df,ignore_index=True)
    
    
go_data_df.columns = ['App_id', 'Country', 'Date', 'Downloads', 'Revenue']

In [12]:
go_data_df

,App_id,Country,Date,Downloads,Revenue
0,com.dreamgames.royalmatch,AE,2023-01-19T00:00:00Z,484,89458.0
1,com.dreamgames.royalmatch,AO,2023-01-19T00:00:00Z,65,147.0
2,com.dreamgames.royalmatch,AR,2023-01-19T00:00:00Z,5774,58511.0
3,com.dreamgames.royalmatch,AT,2023-01-19T00:00:00Z,593,352648.0
4,com.dreamgames.royalmatch,AU,2023-01-19T00:00:00Z,986,1233451.0
...,...,...,...,...,...
743,com.gamegos.mobile.manorcafe,UY,2023-01-22T00:00:00Z,36,241.0
744,com.gamegos.mobile.manorcafe,UZ,2023-01-22T00:00:00Z,617,112.0
745,com.gamegos.mobile.manorcafe,VE,2023-01-22T00:00:00Z,386,NaN
746,com.gamegos.mobile.manorcafe,VN,2023-01-22T00:00:00Z,453,4.0
747,com.gamegos.mobile.manorcafe,ZA,2023-01-22T00:00:00Z,281,1550.0

In [13]:
ios_data=response_API_ios.json()

ios_data_df=pd.DataFrame(ios_data[0], index=[0])

In [14]:
for i in range(1,len(ios_data)):
    df=pd.DataFrame(ios_data[i], index=[0])
    ios_data_df=ios_data_df.append(df,ignore_index=True)


ios_data_df.columns = ['App_id', 'Country', 'Date', 'iPad Downloads', 'iPad Revenue', 'iPhone Downloads', 'iPhone Revenue']

In [15]:
ios_data_df

,App_id,Country,Date,iPad Downloads,iPad Revenue,iPhone Downloads,iPhone Revenue
0,1195621598,AE,2023-01-19T00:00:00Z,43.0,51925.0,154.0,246678.0
1,1195621598,AO,2023-01-19T00:00:00Z,2.0,57.0,54.0,502.0
2,1195621598,AR,2023-01-19T00:00:00Z,21.0,9071.0,284.0,41436.0
3,1195621598,AT,2023-01-19T00:00:00Z,29.0,208653.0,137.0,465467.0
4,1195621598,AU,2023-01-19T00:00:00Z,490.0,929803.0,1005.0,1004392.0
...,...,...,...,...,...,...,...
1735,1482155847,ZA,2023-01-22T00:00:00Z,11.0,14894.0,365.0,178316.0
1736,1570403223,CN,2023-01-19T00:00:00Z,1664.0,291225.0,3021.0,2799405.0
1737,1570403223,CN,2023-01-20T00:00:00Z,1557.0,388582.0,3194.0,3438774.0
1738,1570403223,CN,2023-01-21T00:00:00Z,1692.0,330874.0,3521.0,2170722.0
1739,1570403223,CN,2023-01-22T00:00:00Z,1652.0,315061.0,3458.0,2257764.0

In [16]:
#google sheets API authorization 
gc = pygsheets.authorize(service_file='/Users/SMRB1/Documents/28. TicToc Games/st_credentials.json')

In [17]:
#open the google spreadsheet (where 'PY to Gsheet Test' is the name of my sheet)
sh = gc.open('Sensor Tower Data')

#select the first sheet 
wks = sh[0]

#update the first sheet with df, starting at cell B2. 
wks.set_dataframe(go_data_df,(1,1))

In [18]:
#open the google spreadsheet (where 'PY to Gsheet Test' is the name of my sheet)
sh = gc.open('Sensor Tower Data')

#select the first sheet 
wks = sh[1]

#update the first sheet with df, starting at cell B2. 
wks.set_dataframe(ios_data_df,(1,1))